coverage/
node_modules/
.vscode/
.idea/
dist/
out/
build/
logs/

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp
*.class
*.jar
*.war
*.iml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local